/* .navbar-dark{
  background-color: rgba(0,0,0,0.9) !important;
} */
.slick-dots li button:before {
  content: '' !important;
  width: 90px !important;
  background-color: black !important;
  height: 5px !important;
}
.slick-dots li {
  width: 100px !important;
  margin: 0 !important;
}
.slick-dots{
  display: block !important;
  bottom: 5% !important;
}