body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .slick-prev, .slick-next {
  position: static;
} */
.slick-dots li button:before {
  content: '' !important;
  width: 60px !important;
  background-color: black !important;
  height: 5px !important;
}
.slick-dots li {
  width: 100px !important;
  margin: 0 !important;
}
.slick-dots{
  display: block !important;
  bottom: 5% !important;
}