.donateColor{
    background-color:  #ab182c !important;
}
.donateIcon{
    font-size: 4.4rem;
}
.donatesHover{
    transition: all 0.2s;
}
.donatesHover:hover{
    background-color: #951526 !important;
}
.imgSize{
    width: 80px;
    height: 170px;
}
/* .imgSize2{
    width: 80px;
    height: 170px;
} */
.imgSize3{
    width: 70px;
    height: 170px;
}
/* .imgSize4{
    width: 80px;
    height: 170px;
} */